body {
    background-color: rgb(0, 0, 0);
}

.page-header {
    position:absolute;
    top: 10px;
    left: 10px;
    width: 500px;
}
.center{
    display:block;
    margin-right: 35%;
}
h2{
    color:white;
}
h3{
    color:white;
    text-align:center;
    font-size: 50px;
}
p2 {
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
p {
    font-size: 40px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
img {
    height:400px;
    width:600px;
    float:right;
    padding:20px;
}
.tab {
    overflow: hidden;
    border: 3px solid #6d0000;
    background-color: rgb(6, 102, 14)
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 20px;
    transition: 0.5s;
}
.tabContent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #c5c5c5;
    border-top: none;
}
.tab button.active{
    background-color: #c5c5c5;
}
.tab button:hover{
    background-color: #c5c5c5;
}
